.profile {
  width: 200px;
  background-color: #ccc;
  padding: 10px;
}

.player-name {
  font-size: 1.6em;
  font-weight: bold;
}

.profile-entry {
  font-size: 0.8em;
  clear: both;
  /*display: flex;*/
  padding: 10px;
}

.profile-entry-left {
  float: left;
  font-weight: bold;
}

.profile-entry-right {
  text-align: right;
}
